.App {
  font-family: sans-serif;
  text-align: center;
}

.hud {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: red;
  font-size: larger;
}
